.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-sway-rotate infinite 4s ease;
}

@keyframes App-logo-sway-rotate {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  25% {
    transform: translateX(50%) rotate(360deg);
  }
  50% {
    transform: translateX(-50%) rotate(-0deg);
  }
  75% {
    transform: translateX(50%) rotate(-360deg);
  }
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* Other styles for users who haven't set a preference for reduced motion */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
